{% extends "_base.html" %}
{% load crispy_forms_tags%}

{% block title %}Twitter Bot{% endblock title %}

{% block content %}
<h1>Twitter Bot</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis inventore voluptate quo odio aspernatur
    dignissimos repellendus veritatis ut, natus maxime impedit, fugiat aperiam consequuntur rem consectetur vel facilis
    sit quos.
</p>

<form action="" method="post">
    {% csrf_token %}
    {{form}}
    <button class="btn btn-primary" type="submit">Check</button>
</form>
{% endblock content %}